.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/*.R
vignettes/*.html
vignettes/IntroVignette_cache/
vignettes/IntroVignette_files/
vignettes/man/
readme.html
readme_cache/
inst/doc
doc
Meta
/doc/
/Meta/
docs
*.xml
